#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/liblinenoise-dev PREFIX=/usr install

override_dh_auto_test:
	# No tests
